<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>PIPS</title>
  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- bootstrap theme -->
  <link href="/css/bootstrap-theme.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="/css/shop-item.css" rel="stylesheet" />
  <!--external css-->
  <!-- font icon -->
  <link href="/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/style-responsive.css" rel="stylesheet" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
  <!--AngularJS-->
  <script src="/js/angular.min.js"></script>
  <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/respond.min.js"></script>
        <script src="/js/lte-ie7.js"></script>
        <![endif]-->
  <!-- Fix NavBar -->
  <link rel="stylesheet" href="/css/navbarfix.css" />
  <!-- ck editor -->
  <script src="../src/assets/ckeditor/ckeditor.js"></script>
  <!-- javascripts -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- nice scroll -->
  <script src="js/jquery.scrollTo.min.js"></script>
  <script src="js/jquery.nicescroll.js" type="text/javascript"></script>

  <!-- jquery ui -->
  <script src="js/jquery-ui-1.9.2.custom.min.js"></script>

  <!--custom checkbox & radio-->
  <script type="text/javascript" src="js/ga.js"></script>
  <!--custom switch-->
  <script src="js/bootstrap-switch.js"></script>
  <!--custom tagsinput-->
  <script src="js/jquery.tagsinput.js"></script>

  <!-- colorpicker -->

  <!-- bootstrap-wysiwyg -->
  <script src="js/jquery.hotkeys.js"></script>
  <script src="js/bootstrap-wysiwyg.js"></script>
  <script src="js/bootstrap-wysiwyg-custom.js"></script>
  <!-- ck editor -->
  <script type="text/javascript" src="assets/ckeditor/ckeditor.js"></script>
  <!-- custom form component script for this page-->
  <script src="js/form-component.js"></script>
  <!-- custome script for all page -->
  <script src="js/scripts.js"></script>
</head>

<body class="login-img3-body">
  <div class="container">
    <br></br>
    <form  class="login-form" action="profile">
      <div class="login-wrap">
        <div>
          <p><b>Sign-Up or Login: </p>
          <script src="js/LoginPage.js"></script>
          <hr>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input  type="text" class="form-control" placeholder="Username"  id="Username" autofocus>

        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control"  placeholder="Password" id="Password">

        </div>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
          <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
        </label>
        <button  class="btn btn-primary btn-lg btn-block"  type="submit" onclick="login_click()">Login</button>
        <a href="createaccount" class="btn btn-info btn-lg btn-block" >Signup</a>
      </div>
    </form>
  </div>
</body>
</html>