<body class="login-img3-body">
  <div class="container">
    <br></br>
    <form ng-controller="loginController"  class="login-form" action="profile">
      <div class="login-wrap">
        <div>
          <p><b>Sign-Up or Login(fix): {{id}} {{Username.text}} {{Password.text}}</p>
            <p>text = {{Username.text}}</p><br/>
          <hr>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Username" ng-model="Username.text" ng-pattern="Username.word" required ng-trim="false" autofocus>

        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control"  ng-model="Password.text" ng-pattern="Password.word" placeholder="Password" required ng-trim="false">

        </div>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
          <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
        </label>
        <button  class="btn btn-primary btn-lg btn-block" ng-click="validate_user()">Login</button>
        <a href="createaccount" class="btn btn-info btn-lg btn-block" >Signup</a>
      </div>
    </form>
  </div>
<script>
    angular.module('loginModule', [])
            .controller('loginController', ['$scope', function($scope) {
                $scope.Username = {
                    text: 'sample text',
                    word: /^\s*\w*\s*$/
                };
                $scope.Password = {
                    text: 'password',
                    word: /^\s*\w*\s*$/
                };
            }]);
</script>
</body>
