<body class="login-img3-body">
  <div class="container">
    <br></br>
    <form class="login-form" action="index.html">
      <div class="login-wrap">
        <div>
          <p><b>Account Information</p>
          <hr>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input class="form-control requeired " id="email" name="email" type="email" placeholder="Email" />
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input  type="password"  class="form-control  " id="password" name="password"  placeholder="Password" />
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password"  class="form-control" id="confirm_password" name="confirm_password" placeholder="Repeat Password">
        </div>

        <button type="submit" class="btn btn-danger btn-success btn-block" type="submit">Create Account</button>
      </div>
    </form>


    <!-- Basic Forms & Horizontal Forms-->
    <!-- page end-->

  </div>
  </div>
</body>
