<body>
  <div class="container">
    <!--main content start-->
    <main>
      <div class="container-fluid ">
        <div class="row ">
          <div class="col-lg-14">
            <!-- Page Content -->
            <section class="wrapper">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="page-header"><i class="fa fa-calendar"></i> Event Catalogue</h3>
                  <ol class="breadcrumb">
                    <li><i class="fa fa-calendar"></i>Event Catalogue</li>
                  </ol>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="panel">
                    <div class="panel-body bio-graph-info">
                      <h1><i class="fa fa-calendar"></i>Events</h1>
                      <hr>
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <div class="col-lg-2">
                            <img src="img/pips_logo.jpg" class="img-thumbnail img-responsive" alt="placeholder" width="100"
                            height="100">
                          </div>
                          <div class="col-lg-5">
                            <h1>PIPS Release</h1>
                            <p>Group description 1</p>
                            <label>Event Date:</label>
                            <label>12-24-2015</label>
                            <br></br>
                            <label class="control-label">Tags</label>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Software</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Databases</button>
                          </div>
                          <div class="col-lg-5" style="margin-top: 2%">
                            <button type="submit" class="btn btn-primary btn pull-right">Request To Join Event</button>
                            <br></br>
                            <button type="submit" class="btn btn-primary btn pull-right">Follow Event</button>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-2">
                            <img src="img/12048798_10153709166102375_1827324476_n.jpg" class="img-thumbnail img-responsive" alt="placeholder" width="100"
                            height="100">
                          </div>
                          <div class="col-lg-5">
                            <h1>Program-a-Palooza</h1>
                            <p>Group description 2</p>
                            <label>Event Date:</label>
                            <label>10-10-2015</label><br></br>
                            <label class="control-label">Tags</label>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Programming</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Celebrate</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>GoodTimes</button>
                          </div>
                          <div class="col-lg-5" style="margin-top: 2%">
                            <button type="submit" class="btn btn-primary btn pull-right">Request To Join Event</button>
                            <br></br>
                            <button type="submit" class="btn btn-primary btn pull-right">Follow Event</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </section>
                </div>
              </div>
            </section>
          </div>
    </main>
    </div>
    </div>
</body>
