<body>
  <div class="container">
    <!--main content start-->
    <main>
      <div class="container-fluid ">
        <div class="row ">
          <div class="col-lg-14">
            <!-- Page Content -->
            <section class="wrapper">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="page-header"><i class="fa fa-briefcase"></i> Project Catalogue</h3>
                  <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="fa fa-briefcase"></i>Project Catalogue</li>
                  </ol>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section class="panel">
                    <div class="panel-body bio-graph-info">
                      <h1><i class="fa fa-briefcase"></i>Projects</h1>
                      <hr>
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <div class="col-lg-2">
                            <img src="img/pips_logo.jpg" class="img-thumbnail img-responsive" alt="placeholder" width="100"
                            height="100">
                          </div>
                          <div class="col-lg-4">
                            <h1>PIPS Project</h1>
                            <p>Project description 1</p>
                            <label class="control-label">Tags</label>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Software</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Databases</button>
                          </div>
                          <div class="col-lg-6" style="margin-top: 2%">
                            <button type="submit" class="btn btn-primary btn pull-right">Request To Join Project</button>
                            <br></br>
                            <button type="submit" class="btn btn-primary btn pull-right">Follow Project</button>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-2">
                            <img src="img/wacky-tube-man.gif" class="img-thumbnail img-responsive" alt="placeholder" width="100" height="100">
                          </div>
                          <div class="col-lg-4">
                            <h1>Wacky Inflatable Tube Man Simulator</h1>
                            <p>Project description 2</p>
                            <label class="control-label">Tags</label>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Software</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-tag"></i>Gaming</button>
                          </div>
                          <div class="col-lg-6" style="margin-top: 2%">
                            <button type="submit" class="btn btn-primary btn pull-right">Request To Join Project</button>
                            <br></br>
                            <button type="submit" class="btn btn-primary btn pull-right">Follow Project</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </section>
                </div>
              </div>
            </section>
          </div>
    </main>
    </div>
    </div>
</body>
