<body>
  <!-- Page Content -->
  <div class="container">
    <!--main content start-->
    <main>
      <div class="container-fluid ">
        <div class="row ">
          <div class="col-lg-14">
            <!-- Page Content -->

            <section class="wrapper">
              <div class="row">
                <div class="col-lg-12">
                  <h3 class="page-header"><i class="fa fa-envelope"></i> Suggestion Box</h3>
                  <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="fa fa-users"></i>Profile</li>
                    <li><i class="fa fa-envelope"></i>Suggestion Box</li>
                  </ol>
                </div>
              </div>
              <!-- CKEditor -->
              <div class="row">
                <div class="col-lg-12">
                  <section class="panel">
                    <header class="panel-heading">Your Suggestions</header>

                    <div class="panel-body">
                      <div class="form">
                        <form action="#" class="form-horizontal">
                          <div class="form-group">
                            <div class="col-sm-9">
                              <p>Thank you for taking the time to send us your feedback or share suggestions regarding PIPS,
                                any and all feedback is appreciated as we try to improve your experience.<i class="fa fa-smile-o"></i></p>
                            </div>
                          </div>
                          <div class="form-group pull-left">
                            <label class="col-sm-2 control-label ">From:</label>
                            <div class="col-sm-10">
                              <p class="form-control-static ">john.doe@upr.edu</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-lg-12">
                              <textarea class="form-control ckeditor" name="editor1" rows="10" cols="50"></textarea>
                            </div>
                          </div>
                        </form>
                      </div>
                      <br/>
                      <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </section>
          </div>
    </main>
    </div>
    </div>
</body>
