<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>PIPS</title>
        <!-- Bootstrap Core CSS -->
        <link href="/src/views/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- bootstrap theme -->
        <link href="/src/views/css/bootstrap-theme.css" rel="stylesheet"/>
        <!-- Custom CSS -->
        <link href="/src/views/css/shop-item.css" rel="stylesheet"/>
        <!--external css-->
        <!-- font icon -->
        <link href="/src/views/css/elegant-icons-style.css" rel="stylesheet" />
        <link href="/src/views/css/font-awesome.min.css" rel="stylesheet" />
        <!-- Custom styles -->
        <link href="/src/views/css/style.css" rel="stylesheet"/>
        <link href="/src/views/css/style-responsive.css" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/respond.min.js"></script>
        <script src="/js/lte-ie7.js"></script>
        <![endif]-->
        <!-- Fix NavBar -->
        <link rel="stylesheet" href="/src/views/css/navbarfix.css"/>
        <!-- ck editor -->
        <script src="/src/assets/ckeditor/ckeditor.js"></script>
        <!-- javascripts -->
        <script src="/src/public/js/jquery.js"></script>
        <script src="/src/public/js/bootstrap.min.js"></script>
        <!-- nice scroll -->
        <script src="/src/public/js/jquery.scrollTo.min.js"></script>
        <script src="/src/public/js/jquery.nicescroll.js" type="text/javascript"></script>

        <!-- jquery ui -->
        <script src="/src/public/js/jquery-ui-1.9.2.custom.min.js"></script>

        <!--custom checkbox & radio-->
        <script type="text/javascript" src="js/ga.js"></script>
        <!--custom switch-->
        <script src="/src/public/js/bootstrap-switch.js"></script>
        <!--custom tagsinput-->
        <script src="/src/public/js/jquery.tagsinput.js"></script>

        <!-- colorpicker -->

        <!-- bootstrap-wysiwyg -->
        <script src="/src/public/js/jquery.hotkeys.js"></script>
        <script src="/src/public/js/bootstrap-wysiwyg.js"></script>
        <script src="/src/public/js/bootstrap-wysiwyg-custom.js"></script>
        <!-- ck editor -->
        <script type="text/javascript" src="assets/ckeditor/ckeditor.js"></script>
        <!-- custom form component script for this page-->
        <script src="/src/public/js/form-component.js"></script>
        <!-- custome script for all page -->
        <script src="/src/public/js/scripts.js"></script>
    </head>

    <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: black;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" style="padding: 8px 15px; ">
                    <img src="img/12048903_10153709165902375_2021103471_n.jpg" style="width: 40px;"></div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <a href="#">Followers</a>
                    </li>

                    <li>
                        <a href="#">Interests</a>
                    </li>
                    <li>
                        <a href="#">Groups</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="/submitresume">Community</a>
                    </li>
                    <li>
                        <a href="/createproject">Projects</a>
                    </li>
                    <li>
                        <a href="/aboutus">About PIPS</a>
                    </li>
                </ul>
                <li class="pull-right" style="vertical-align: middle; display: table-cell; margin: 13px;">
                    <div id="search">
                        <a href="" class="glyphicon glyphicon-search" style="font-size: 25px;"></a>
                    </div>
                </li>
                <li class="pull-right" style="vertical-align: middle; display: table-cell; margin: 10px;">
                    <div>
                        <input class="form-control" type="text" id="lg">
                    </div>
                </li>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container -->
    </nav>
        <div class="container">
            {{{ body }}}
        </div>
    </body>
</html>
