<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: black;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" style="padding: 8px 15px; ">
          <img src="img/12048903_10153709165902375_2021103471_n.jpg" style="width: 40px;"></div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Profile</a>
          </li>
          <li>
            <a href="#">Followers</a>
          </li>

          <li>
            <a href="#">Interests</a>
          </li>
          <li>
            <a href="#">Groups</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">Community</a>
          </li>
          <li>
            <a href="#">About PIPS</a>
          </li>
        </ul>
        <li class="pull-right" style="vertical-align: middle; display: table-cell; margin: 13px;">
          <div id="search">
            <a href="" class="glyphicon glyphicon-search" style="font-size: 25px;"></a>
          </div>
        </li>
        <li class="pull-right" style="vertical-align: middle; display: table-cell; margin: 10px;">
          <div>
            <input class="form-control" type="text" id="lg">
          </div>
        </li>
      </div>
      <!-- /.navbar-collapse -->
      <!-- /.container -->
  </nav>
  <!-- Page Content -->
  <div class="container">
    <!--main content start-->
    <main>
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-users"></i> Create a Project Page</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-tasks"></i>Project Pages</li>
              <li><i class="fa fa-users"></i>Create a Project Page</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Project Page Form
              </header>
              <div class="panel-body">
                <form class="form-horizontal " method="get">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name of Project</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Project Owner</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Project Description</label>
                    <div class="col-sm-10">
                      <textarea rows="10" class="form-control"> </textarea>

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Start Date </label>
                    <div class="col-sm-4">
                      <input id="cp1" type="text" value="28-10-2013" size="16" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Team Members</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Ex: Javier Colon, Victor Martinez">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> Project Completion</label>
                    <div class="col-sm-10">
                      <select class="form-control m-bot15">
                        <option>0%</option>
                        <option>10%</option>
                        <option>20%</option>
                        <option>30%</option>
                        <option>40%</option>
                        <option>50%</option>
                        <option>60%</option>
                        <option>70%</option>
                        <option>80%</option>
                        <option>90%</option>
                        <option>100%</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="exampleInputFile">File input</label>
                    <div class="col-sm-10">
                      <input type="file" id="exampleInputFile">
                      <p class="help-block">Example block-level help text here.</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Project Tags</label>
                    <div class="col-lg-10">
                      <input name="tagsinput" id="tagsinput" class="tagsinput" value="Robots,Biology" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Project Page Creator Email</label>
                    <div class="col-lg-10">
                      <p class="form-control-static">john.doe@upr.edu</p>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary pull-right">Create</button>
                </form>
              </div>
            </section>
          </div>
        </div>
        <!-- Basic Forms & Horizontal Forms-->
        <!-- page end-->
      </section>
    </main>
    <!--main content end-->
  </div>

  <!-- container section end -->
</body>
